.container {
  margin: 20px auto 0;
  width: 500px;
  height: 400px;
  border: 2px solid #000;
}
.container .item {
  width: 60px;
  height: 60px;
  background: rgba(36, 62, 141, 0.8);
  border-radius: 100%;
  transform: translate(0, 160px);
}
.btn {
  margin: 20px auto 0;
  width: 500px;
}
.btn .btn-start,
.btn .btn-stop,
.btn .btn-pause {
  margin-top: 25px;
  display: inline-block;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  background: rgba(235, 88, 21, 0.8);
  font-size: 20px;
  color: #fff;
}
.btn .btn-start,
.btn .btn-pause {
  margin-left: 100px;
  background: rgba(7, 158, 228, 0.5);
}
.btn .btn-pause {
  background: rgba(7, 228, 180, 0.5);
  display: none;
}
