#header {
  color: #6c94be;
}

.container {
  background: #000;
}

.bordered, #menu a, .post a {
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}

#menu a {
  color: #111;
}

.post a {
  color: red;
}

.error, .seriousError {
  border: 1px #f00;
  background-color: #fdd;
}

.seriousError {
  border-width: 3px;
}

.animal, .bear {
  background-color: black;
  color: white;
}

.bear {
  background-color: brown;
}

.view {
  position: relative;
  left: 1px;
  top: 2px;
}

.item-1 {
  width: 2em;
}

.item-2 {
  width: 4em;
}

.item-3 {
  width: 6em;
}

p {
  color: green;
}

.aa-1-icon {
  background-image: url("/images/aa-1.png");
}

.bb-2-icon {
  background-image: url("/images/bb-2.png");
}

.cc-3-icon {
  background-image: url("/images/cc-3.png");
}

.dd-icon {
  background-image: url("/images/dd.png");
}

#context a.notice {
  color: blue;
  font-weight: bold;
  font-size: 2em;
}

.item-6 {
  width: 12em;
}

.item-4 {
  width: 8em;
}

.item-2 {
  width: 4em;
}

.primary {
  color: #ff0000;
  background-color: #00ff00;
  border-color: #0000ff;
}

.secondary {
  color: #00ff00;
  background-color: #0000ff;
  border-color: #ff0000;
}

#header111 {
  color: #6c94be;
}
