.container {
  background: #eee;
  width: 800px;
  height: 800px;
  line-height: 3;
}
.container .two-one {
  background: #a3bcdd;
  height: 100px;
}
.container .two-two {
  background: #136cbe;
  pointer-events: none;
}
.container .two-two .three {
  background: #2a435a;
  pointer-events: none;
}
.container .two-two .three .four-one {
  background: #0fb986;
  height: 200px;
}
.container .two-two .three .four-two {
  background: #33925a;
  height: 200px;
  pointer-events: none;
}
