$bg: "https://yangzw.vip/static/codepen/bg.jpg";

$red: '#f66';
$blue: '#09f';
$green: '#3c9';
.bruce {
	overflow: auto;
	perspective: 1px;
	transform-style: preserve-3d;
	div {
		height: 100px;
		line-height: 100px;
		text-align: center;
		font-size: 20px;
		color: $red;
	}
}
.parallax-scrolling {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1000px;
	background: url($bg) no-repeat center fixed;
	li {
		width: 500px;
		text-align: center;
		font-weight: bold;
		font-size: 60px;
		&:nth-child(1) {
			color: $red;
			transform: translateZ(-1px); 
		}
		&:nth-child(2) {
			color: $blue;
			transform: translateZ(-2px); 
		}
		&:nth-child(3) {
			color: $green;
			transform: translateZ(-3px);
		}
	}
}